
body {
    background-color: #fffef9;
}
/*
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}*/
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 106px 0;
    color: white;
}

header.masthead {
    background-attachment: scroll;
}


#custom-nav a {
    color: #FF6F3C;
}

#btnCat {
    border: 1px solid white;
    background-color: #FF6F3C; /*#0085A1;*/
    margin-bottom: 2px;
    margin-top: 2px;
    color: white;
}

    #btnCat:active {
        border: 1px solid #ba4c25;
        background-color: white;
        margin-bottom: 2px;
        margin-top: 2px;
        color: #FF6F3C;
    }

    #btnCat:hover {
        border: 1px solid #FF6F3C;
        color: #FF6F3C;
        background-color: white;
    }


    #btnCat:focus {
        border: 1px solid white;
        color: white;
        background-color: #ba4c25;
    }



@media screen and (min-width: 768px) {
    #custom-nav .container {
        padding-bottom: 0px;
    }
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #ba4c25;
    border-color: #ba4c25;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

a {
    color: #FF6F3C;
}