
body {
    background-color: #f2f4ff;
}


h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

/* ///// inputs /////*/



.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 10px;
    border: 0;
    width: 100%;
    font-size: 1.5rem;
    background-color: #37474F; /*#2d2d2d;*/
    color: #FF6F3C;
    /*color:white;*/
    border-radius: 4px;
    font-weight: 800;
}

    input:focus,
    textarea:focus {
        outline: 0;
    }

        input:focus ~ span,
        textarea:focus ~ span {
            width: 100%;
            -webkit-transition: all 0.075s ease;
            transition: all 0.075s ease;
        }

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06), 0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

    .submit-btn:hover {
        transform: translateY(1px);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 1px 1px 0 rgba(0,0,0,0.09);
    }

@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}

input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
}


.validateForm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #FF6F3C;
    font-size: large;
}

input.ng-dirty.ng-invalid {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: solid;
    border-color: #FF6F3C;
}
textarea.ng-dirty.ng-invalid {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: solid;
    border-color: #f00;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 106px 0;
    color: white;
}

header.masthead {
    background-attachment: scroll;
}

#custCol {
    margin-bottom:650px;
}

label {
    font-size: 1.6em;
}

h2 {
    font-size: 2.5em;
}



#btnAddRecord {
    border: 1px solid white;
    background-color: #FF6F3C; /*#0085A1;*/
    margin-bottom: 2px;
    margin-top: 2px;
    color: white;
}

    #btnAddRecord:active {
        border: 1px solid #ba4c25;
        background-color: white;
        margin-bottom: 2px;
        margin-top: 2px;
        color: #FF6F3C;
    }

    #btnAddRecord:hover {
        border: 1px solid #FF6F3C;
        color: #FF6F3C;
        background-color: white;
    }


    #btnAddRecord:focus {
        border: 1px solid white;
        color: white;
        background-color: #ba4c25;
    }
