@media screen and (min-width: 768px) {

    /* Styles before scroll */
    #custom-nav {
        background-color: rgba(0,0,0,0);
        border: 0;
        box-shadow: none;
        z-index: 999;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: background .5s ease-in-out, opacity .5s ease;
        -moz-transition: background .5s ease-in-out, opacity .5s ease;
        transition: background .5s ease-in-out, opacity .5s ease;
    }

        #custom-nav a {
            background: transparent;
            color: #ff5316; /*white;*/
            font-family: 'Century Gothic';
            font-weight: 800;
            font-size: 22px;
        }

    .navbar-brand img:hover {
        cursor: pointer;
    }

        #custom-nav .dropdown-menu {
            border-radius: 0;
            border: none;
            border-top: 5px solid transparent;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
            padding-top: 0;
        }

            #custom-nav .dropdown-menu li {
                border-top: 1px solid white;
            }

                #custom-nav .dropdown-menu li:last-child {
                    border-bottom: 1px solid white;
                }

        #custom-nav .container {
            font-weight: 800;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            padding-bottom: 25px;
            /*padding-left: 200px;
            padding-right: 200px;*/
            -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
            -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
            transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
        }

        /* Styles after scroll */
        #custom-nav.affix {
            top: 0;
            min-width: 100%;
            background-color: #37474F; /*black;*/
            /*background-color: #f8f8f8;*/
            opacity: 0.8;
            -webkit-transition: background .5s ease-in-out, opacity .5s ease;
            -moz-transition: background .5s ease-in-out, opacity .5s ease;
            transition: background .5s ease-in-out, opacity .5s ease;
        }

            #custom-nav.affix a {
                color: #FF6F3C; /*#b78c33;*/
                /*color: black;*/
            }

            #custom-nav.affix .container {
                -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
                -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
                transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
                /*padding-top: 8px;*/
                padding-bottom: 8px;
            }

            #custom-nav.affix .navbar-brand img {
                width: 200px;
                height: 55px;
                box-sizing: border-box;
                padding-left: 200px;
                background: url(../../Images/Turuncu.png) left top no-repeat;
            }

            #custom-nav.affix .dropdown-menu {
                -webkit-transition: background .5s ease-in-out;
                -moz-transition: background .5s ease-in-out;
                transition: background .5s ease-in-out;
                border-top: 9px solid transparent;
                background: #f8f8f8;
            }

    /* Dropdown Button */
    .dropbtn {
        background-color: transparent;
        color: white;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 800;
        font-size: 18px;
        border: none;
        font-family: 'Century Gothic';
        cursor: pointer;
    }
    #custom-nav.affix .dropbtn {
        -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
        -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
        transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
        background-color: transparent;
        color: #b78c33;
        font-family: 'Century Gothic';
        font-weight: 800;
        font-size: 18px;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

   

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: black
            }


    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: black;
    }
}

@media screen and (max-width: 767px) {
    #wrapwrap {
        padding-top: 50px;
    }

    .navbar-fixed-top {
        z-index: 999;
    }
}


#dropdown a {
    background-color: black;
    opacity: 1;
    color: white;
    font-family: 'Century Gothic';
    font-weight: 800;
    font-size: 18px;
}