
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Templates/Assets/css/donate.css" rel="stylesheet">
<!-- Page Header -->
<header class="masthead" style="background-image: url('/Templates/Images/donate.png')">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row" style="margin-bottom:20px">
        <div class="col-lg-6">
            <h2>Neden Bağış?</h2>
            <p class="custom-p">
                Yegane hedefimiz yurt içinde iddaa üzerinden oynayan ve yurt dışında ikamet edip yurt dışı kaynaklı
                bahis sitelerini tercih eden müşterilerimiz için kendi yarattığımız modelleme ile tercih konusunda
                yardımclı olmak ve beraberce kazanmak. Yarattığımız modelleme iddaa/bahis piyasasındaki risk
                algısının aslında ne yansıttığı saptamaktadır. Kısaca sizi düdüklemek üzere oluşturulmuş düzene bir
                çomak sokmak için burdayız. Başlangıç olarak 4 kişilik bir ekiple sizlere yardımcı olacağız. Benzer ve
                farklı branşlardan olan ekibimiz; önce modelden gelmesi muhtemel sonuçarı havuzumuzdan
                ayıklayacak ve sonrasında analiz edecek. Yani, riski ve tercihe göre gerçekleşme olasılığı hesaplanmış
                bir karşılaşmanın üzerine, yazarlarımız kendi yorumunu katacak. Bu şekilde sağlıklı müsabakalar seçip;
                potansiyel kazanma ihtimalimizi arttırmış olacağız. Ayrıca sadece tahminlerimizle değil, bunların yanı
                sıra: kasa yönetimi, value bet, oranı düşen maçlar ve en çok rağbet gören maçlar(Türkiye&#39;de ve
                Dünya&#39;da) gibi seçenekler de olacak. Artık yalnız değilsiniz. Maç günü şafakta doğuya bakın. Sizin için
                orada olacağız.
            </p>
        </div>
        <div class="col-lg-6">
            <h2>Amacımız</h2>
            <p class="custom-p">
                Sevgili kullanıcı, size en iyi hizmeti vermek ve göz zevkinize cima etmemek adına, bizleri
                süründürmeyecek ve sizleri de küstürmeyecek kadar az ölçüde reklam almaya çalışacağız.Bu sebeple
                çorbanın kaynaması için sizlerden küçük çaplı destekler bekliyor olacağız. Biz modellememiz ışığında
                sizlere kazandıralım, sizler de bize.. bize dönen her bir kuruş sitenin ve modellememizin
                iyikeleştirilmesinde kullanılacaktır. Bunun yanı sıra; destek olan kullanıcılarımıza sağladığımız ek
                hizmetler de olacak tabi ki:
            </p><br />
            <ul id="customUL" class="list-group custom-p">
                <li>
                    seçilen maça özel yorum
                </li>
                <li>
                    teknik analiz
                </li>
                <li>
                    uzak durulması gereken maçlar
                </li>
                <li>
                    yurt dışından bahis oynayanlara özel seçenekler
                </li>
                <li>
                    oyuncu sayı alt/üst bahis tercihleri
                </li>
                <li>
                    ve daha niceleri...
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="accountInfo" class="col-lg-12">
            <div id="bankAccount">
                <label>Türk Lirası İçin Hesap Numarası: </label>
                <p>GARANTİ BANKASI</p>
                <p>TR63 0006 2001 3240 0006 6813 11</p>
                <br />
                <i>*Açıklama kısmına mail adresinizi yazmanız gerekmektedir.</i>
            </div>
            <br />
            <div id="btcAccount">
                <label>Bitcoin Cüzdan Adresi: </label>
                <p><i class="fa fa-btc fa-2x"></i>  1XEPqVqTYDMCk3NpqnihWzH3oTcQG5baC</p>
            </div>
            <br />
            <div id="ethAccount">
                <label>Ethereum Cüzdan Adresi: </label>
                <p><img src="~/Templates/Images/eth.png" /> 0xCEdd533Edd11D751DadeBA47Ec39aCB42aA5b5c5</p>
            </div>
        </div>
    </div>
</div>